<h1 class="title">{{ title }}{{#if description}}<i class="help">?</i>{{/if}}
</h1>
<ul class="posts left">
</ul>
<ul class="posts right">
</ul>
<ul class="planks">
</ul>
<div class="go-button">Try It!</div>
<img class="indicator" src="/images/whiteTruck.png">
<img class="indicatorFail" src="/images/whiteTruckFail.gif">
{{#if description}}
<div class="hint">{{{ description }}}</div>
{{/if}}
