<h1 class="title">{{ title }}</h1>
<div class="go-button">GO!</div>
<ul class="posts left">
</ul>
<ul class="posts right">
</ul>
<ul class="planks">
</ul>
<img class="indicator" src="/images/truck.png">
<img class="indicatorFail" src="/images/burningTruck.png">
