<h1 class="title">{{ title }}{{#if description}}<i class="help">?</i>{{/if}}
</h1>
<img class="road" src="/images/road.gif">
<ul class="posts left">
</ul>
<ul class="posts right">
</ul>
<ul class="planks">
</ul>
<div class="go-button">Try It!</div>
<img class="logoSmall" src="/images/overpassLogoSmall.png">
<img class="indicatorWin" src="/images/youWin.png">
<img class="indicator" src="/images/truckWin.png">
<img class="indicatorFail" src="/images/truckFail.gif">
{{#if description}}
<div class="hint">{{{ description }}}</div>
{{/if}}
