.bridge
    clearfix()
    margin 75px 0 50px 0

    .title
        margin-top -40px
        margin-left 100px
        color white
        text-align center

    .posts
    .planks
        margin 10px 0 0 0
        padding 0
        list-style-type none

    .posts
        float left
 
        &.active
            display block

        &.left
            margin-left 110px

        &.right
            margin-left 110px

    .planks
        float right
        background-color rgba(255,255,255,0.4)

    .go-button
        position fixed
        margin 0 500px
        width 170px
        height 2.5em
        padding 0.5em 0
        background-color rgb(242,56,90)
        color white
        font-size 2em
        text-align center
        border-radius 0.2em
        border 0.2em solid white
        bottom 0px

    .logoSmall
        position absolute
        width 210px
        height 57px
        left 10px
        top 10px

    .road
        position absolute
        width 250px
        height 800px
        left 230px
        top 0px    
        z-index:-1

    .indicator
        position absolute
        width 90px
        height 267px
        left 275px
        top -290px

        &.win
            position absolute
            width 90px
            height 267px
            left 276px
            top 100%
            -webkit-transition ease-in-out 4s
            -moz-transition    ease-in-out 4s
            -o-transition      ease-in-out 4s
            transition         ease-in-out 4s

    .indicatorWin
        position absolute
        left 35%
        top -290px

        &.win
            position absolute
            left 35%
            top 30%
            -webkit-transition ease-in-out 4s
            -moz-transition    ease-in-out 4s
            -o-transition      ease-in-out 4s
            transition         ease-in-out 4s


    .indicatorFail
        position absolute
        width 118px
        height 267px
        left 155px
        top -300px

        &.fail
            position absolute
            width 118px
            height 267px
            left 15px
            top 200px
            -webkit-transition ease-in 2.5s
            -moz-transition    ease-in 2.5s
            -o-transition      ease-in 2.5s
            transition         ease-in 2.5s

    .help
        display block
        float right
        width 20px
        height 20px
        border-radius 25px
        background-color rgb(242,56,90)
        color white
        font-size 0.4em
        line-height 1.3
        text-align center
        border 3px solid white
        cursor pointer
