.bridge
    clearfix()
    margin 75px 0 50px 0

    .title
        margin-top -40px
        margin-left 100px
        color white
        text-align center

    .posts
    .planks
        margin 10px 0 0 0
        padding 0
        list-style-type none

    .posts
        float left
 
        &.active
            display block

        &.left
            margin-left 110px

        &.right
            margin-left 110px

    .planks
        float right
        background-color rgba(255,255,255,0.4)

    .go-button
        float right
        position absolute
        margin -90px auto
        width 5em
        height 2.5em
        padding 0.5em 0
        background-color rgb(242,56,90)
        color white
        font-size 2em
        text-align center
        border-radius 0.2em
        border 0.2em solid white
        left 75%


    .indicator
        position absolute
        width 200px
        height 297px
        left 225px
        top -190px

        &.win
            position absolute
            width 200px
            height 297px
            left 15%
            top 100%
            -webkit-transition ease-in-out 2.5s
            -moz-transition    ease-in-out 2.5s
            -o-transition      ease-in-out 2.5s
            transition         ease-in-out 2.5s

    .indicatorFail
        position absolute
        width 225px
        height 360px
        left 25px
        top -360px

        &.fail
            position absolute
            width 125px
            height 200px
            left 15px
            top 400px
            -webkit-transition linear 1.5s
            -moz-transition    linear 1.5s
            -o-transition      linear 1.5s
            transition         linear 1.5s
