.kit
    h1
    	color white


.kits
	.logo
		position relative
		left -55px

	.splashTag
		left -20px
		position relative
		color white
		font-size 20px

	.kit-item
		color white
		font-size 20px

	a
		color white
		font-size 20px
