.post
    width 550px
    height 100px
    padding 5px
    color white
    border 1px solid #000000
    background-color rgba(255,255,255,0.7)
    list-style none

.postbox
    width 200px
    height 80px
    margin 5px 0 0 -5px
    padding 5px
    background-color rgba(242,56,90,0.7)
    color black
    list-style none