.post
    width 310px
    height 80px
    padding 5px 5px 5px 0
    color white
    border 1px solid #666
    background-color rgba(255,255,255,0.7)
    list-style none

    &.full
        border 1px solid #000
        background-color rgba(255,255,255,0.9)

    //lane positions
    &.left
        margin-left 0
    &.right
        margin-left 0

    .postbox
        width 100px
        height 60px
        margin 5px 0 0 -105px
        padding 5px
        background-color rgba(242,56,90,0.8)
        box-shadow 1px 1px 5px #333333
        color black
        list-style none

    .help
        display block
        width 20px
        height 20px
        border-radius 25px
        background-color rgb(242,56,90)
        color white
        font-size 0.8em
        line-height 1.3
        text-align center
        border 3px solid white
        cursor pointer

