// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'

@import '_bridge'
@import '_post'
@import '_plank'

.layout-container
	margin: 20px

#div1
	width:350px
	height:120px
	padding:10px
	border:1px solid #aaaaaa
		
#div2
	width:350px
	height:120px
	padding:10px
	border:1px solid #aaaaaa

#div3
	width:350px
	height:120px
	padding:10px
	border:1px solid #aaaaaa

#div4
	width:350px
	height:120px
	padding:10px
	border:1px solid #aaaaaa

#div5
	width:350px
	height:120px
	padding:10px
	border:1px solid #aaaaaa

		
#drag1
	width:320px

#drag2
	width:320px

#drag3
	width:320px

#drag4
	width:320px

#drag5
	width:320px